<form [formGroup]="loginForm" (ngSubmit)="login()">
    <h3>Login</h3>
  <div fd-form-item>
    <label fd-form-label for="company-input">Email: </label>
    <fd-form-input-message-group>
      <input fd-form-control 
      type="text"
      id="company-input"
      placeholder="Enter email"
      formControlName="email"
      [state]="loginForm.get('email').touched ? 
      (loginForm.get('email').valid ? 'success' : 'error'):
      (loginForm.get('email').valid ? '' : '')">
      <fd-form-message 
      *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"
      [type]="loginForm.get('email').touched ? 
      (loginForm.get('email').valid ? 'success' : 'error'):
      (loginForm.get('email').valid ? '' : '')">
      Email Required
      </fd-form-message>
    </fd-form-input-message-group>
  </div>
  <div fd-form-item>
    <label fd-form-label for="company-input">Password: </label>
    <fd-form-input-message-group>
      <input fd-form-control 
      type="password"
      id="company-input"
      placeholder="Enter password"
      formControlName="password"
      [state]="loginForm.get('password').touched ? 
      (loginForm.get('password').valid ? 'success' : 'error'):
      (loginForm.get('password').valid ? '' : '')">
      <fd-form-message 
      *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
      [type]="loginForm.get('password').touched ? 
      (loginForm.get('password').valid ? 'success' : 'error'):
      (loginForm.get('password').valid ? '' : '')">
      Password must be more than 8 characters
      </fd-form-message>
    </fd-form-input-message-group>
  </div>
    <div class="button-grouping">
      <button [disabled]="loginForm.invalid" type="submit" fd-button [fdType]="'emphasized'">Login</button>
      <button fd-button fdType="transparent" (click)="forgotPassword()">Forgot Password</button>
    </div>
</form>

<form [formGroup]="signupForm" (ngSubmit)="signup()">
  <h3>Sign Up</h3>
  <div fd-form-item>
    <label fd-form-label for="company-input">First Name: </label>
    <fd-form-input-message-group>
      <input fd-form-control 
      type="text"
      id="company-input"
      placeholder="First Name"
      formControlName="first"
      [state]="signupForm.get('first').touched ? 
      (signupForm.get('first').valid ? 'success' : 'error'):
      (signupForm.get('first').valid ? '' : '')">
      <fd-form-message 
      *ngIf="signupForm.get('first').invalid && signupForm.get('first').touched"
      [type]="signupForm.get('first').touched ? 
      (signupForm.get('first').valid ? 'success' : 'error'):
      (signupForm.get('first').valid ? '' : '')">
      First Name Required
      </fd-form-message>
    </fd-form-input-message-group>
  </div>
  <div fd-form-item>
    <label fd-form-label for="company-input">Last Name: </label>
    <fd-form-input-message-group>
      <input fd-form-control 
      type="text"
      id="company-input"
      placeholder="Last Name"
      formControlName="last"
      [state]="signupForm.get('last').touched ? 
      (signupForm.get('last').valid ? 'success' : 'error'):
      (signupForm.get('last').valid ? '' : '')">
      <fd-form-message 
      *ngIf="signupForm.get('last').invalid && signupForm.get('last').touched"
      [type]="signupForm.get('last').touched ? 
      (signupForm.get('last').valid ? 'success' : 'error'):
      (signupForm.get('last').valid ? '' : '')">
      Last Name Required
      </fd-form-message>
    </fd-form-input-message-group>
  </div>
  <div fd-form-item>
    <label fd-form-label for="company-input">Email: </label>
    <fd-form-input-message-group>
      <input fd-form-control 
      type="text"
      id="company-input"
      placeholder="Enter email"
      formControlName="email"
      [state]="signupForm.get('email').touched ? 
      (signupForm.get('email').valid ? 'success' : 'error'):
      (signupForm.get('email').valid ? '' : '')">
      <fd-form-message 
      *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched"
      [type]="signupForm.get('email').touched ? 
      (signupForm.get('email').valid ? 'success' : 'error'):
      (signupForm.get('email').valid ? '' : '')">
      Email Required
      </fd-form-message>
    </fd-form-input-message-group>
  </div>
  <div fd-form-item>
    <label fd-form-label for="company-input">Password: </label>
    <fd-form-input-message-group>
      <input fd-form-control 
      type="text"
      id="company-input"
      placeholder="Enter password"
      formControlName="password"
      [state]="signupForm.get('password').touched ? 
      (signupForm.get('password').valid ? 'success' : 'error'):
      (signupForm.get('password').valid ? '' : '')">
      <fd-form-message 
      *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched"
      [type]="signupForm.get('password').touched ? 
      (signupForm.get('password').valid ? 'success' : 'error'):
      (signupForm.get('password').valid ? '' : '')">
      Password must be more than 8 characters
      </fd-form-message>
    </fd-form-input-message-group>
    <fd-file-input
    #fileInput
    formControlName="file"
    (onSelect)="picturesSelected($event)"
    (onInvalidFiles)="invalidFile()"
    [accept]="'.png'"
    >
      <button fd-button (click)="fileInput.open()">
          Profile Picture
      </button>
    </fd-file-input>
  </div>
  <div class="button-grouping">
    <button [disabled]="signupForm.invalid || !signupForm.get('file').dirty" type="submit" fd-button [fdType]="'emphasized'">Sign Up</button>
  </div>
</form>