<fd-panel>
    <fd-panel-header>
        <fd-panel-head>
            <h2>Products</h2>
            <fd-panel-description>Manage the products recorded by various company representatives.
            </fd-panel-description>
        </fd-panel-head>
        <fd-panel-actions>
            <button fd-button
                    fdType="light"
                    glyph="add"
                    (click)="openCreateModal()">
            </button>
        </fd-panel-actions>


    </fd-panel-header>
</fd-panel>
<div class="fd-has-padding-m">
    <div *ngIf="products">
        <fd-multi-input 
        [dropdownValues]="products"
        [placeholder]="'Search here...'"
        [(ngModel)]="selected"
        (ngModelChange)="refresh()"
        [displayFn]="displayFunc">
        </fd-multi-input>
                <span *ngFor="let item of selected; let i = index"></span>
    </div>
    <fd-table-wrapper *ngIf="selected && dataSource">
        <table cdk-table [dataSource]="filteredDataSource" #table cdkDropList [cdkDropListData]="filteredDataSource" (cdkDropListDropped)="dropRow($event)">
                <tr cdk-header-row *cdkHeaderRowDef="columnHeaders"></tr>

            <tr cdk-row cdkDrag [cdkDragData]="row" *cdkRowDef="let row; columns: ['name', 'contact', 'lob', 'user_number', 'status', 'glyph', 'remove']" style="cursor: grab;"></tr>

            <ng-container   cdkColumnDef="name">
                <th cdk-header-cell *cdkHeaderCellDef>Name</th> 
                <ng-container cdk-cell *cdkCellDef="let product">                       
                    <td>
                                {{product.name}}
                            <fd-inline-help [placement]="'right'">
                                Information about {{product.name}}
                            </fd-inline-help>
                        </td>
                    </ng-container>                    
                </ng-container>

            <ng-container   cdkColumnDef="contact">
                <th cdk-header-cell *cdkHeaderCellDef>Contact</th> 
                <ng-container cdk-cell *cdkCellDef="let product">                       
                    <td>
                        {{product.contact}}
                    </td>
                </ng-container>
            </ng-container>

            <ng-container   cdkColumnDef="lob">
                <th cdk-header-cell *cdkHeaderCellDef>LoB</th>                            
                <ng-container cdk-cell *cdkCellDef="let product">                       
                    <td>
                    {{product.lob}}
                    </td>
                </ng-container>
            </ng-container>

            <ng-container   cdkColumnDef="user_number">
                <th cdk-header-cell *cdkHeaderCellDef>User Number</th>
                <ng-container cdk-cell *cdkCellDef="let product">                       
                    <td>
                        {{product.user_number}}
                    </td>
                </ng-container>
            </ng-container>

            <ng-container  cdkColumnDef="status">
                <th cdk-header-cell *cdkHeaderCellDef>Status</th>
                <ng-container cdk-cell *cdkCellDef="let product">                       
                        <td>
                        <span fd-badge [status]="product.status | status" modifier="pill"> {{product.status}} </span>
                    </td>
                </ng-container>
            </ng-container> 

            <ng-container   cdkColumnDef="glyph">
                <th cdk-header-cell *cdkHeaderCellDef>Edit</th>
                <ng-container cdk-cell *cdkCellDef="let product">                       
                        <td>
                        <fd-icon glyph="edit"
                                class="action-button"
                                tabindex="0"
                                size="m"
                                title="Edit Contract"
                                (click)="openEditModal(product)">
                        </fd-icon>
                    </td>
                </ng-container>
            </ng-container>

            <ng-container   cdkColumnDef="remove">
                    <th cdk-header-cell *cdkHeaderCellDef >Remove</th>
                    <ng-container cdk-cell *cdkCellDef="let product">                       
                            <td>
                        <fd-icon glyph="delete"
                                class="action-button"
                                tabindex="0"
                                size="m"
                                title="Delete Contract"
                                (click)="openConfirmModal()">
                            </fd-icon>
                        </td>
                    </ng-container>
            </ng-container>
            <!-- <tr cdk-header-row *cdkHeaderRowDef="columnHeaders"></tr>

            <tr cdk-row cdkDrag [cdkDragData]="row" *cdkRowDef="let row; columns: ['name', 'contact', 'lob', 'user_number', 'status', 'glyph', 'remove']" style="cursor: grab;"></tr> -->
        </table>
    </fd-table-wrapper>


    
    <div *ngIf="!(products)"
         class="spinner-container">
        <fd-loading-spinner [loading]="true"></fd-loading-spinner>
    </div>
</div>