<fd-layout-panel>
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <h2>{{productsPage.title | titlecase}}</h2>
            <fd-layout-panel-description>{{productsPage.description}}</fd-layout-panel-description>
        </fd-layout-panel-head>
        <fd-layout-panel-actions>
            <button 
            [compact]="globalCompact"
            fd-button
            fdType="transparent"
            glyph="add"
            (click)="openCreateModal()">
            </button>
        </fd-layout-panel-actions>
    </fd-layout-panel-header>
    <fd-layout-panel-filters *ngIf="products">
      <fd-multi-input 
      [compact]="globalCompact"
      [dropdownValues]="multiInputProducts"
      [placeholder]="language=='en'?'Search here...':'Rechercher ...'"
      [(ngModel)]="selected"
      (ngModelChange)="refresh(false)"
      >
      
      </fd-multi-input><span *ngFor="let item of selected; let i = index"></span>
    </fd-layout-panel-filters>
    <fd-layout-panel-body *ngIf="products">
      <fd-table-wrapper>
        <table fd-table>
          <thead fd-table-header>
            <tr fd-table-row>
                <th fd-table-cell *ngFor="let header of tableHeaders">{{header | titlecase}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products" fd-table-row>
              <td fd-table-cell>
                {{product.name}}
                <fd-inline-help [inlineHelpContentStyle]="{ 'background-color': 'var(--sapGroup_ContentBackground)', color: 'var(--sapTextColor)', 'border-color': 'var(--sapGroup_ContentBorderColor)'}" [placement]="'right'">
                  Information about {{product.company}}
                </fd-inline-help>
              </td>
              <td fd-table-cell>
                {{product.contact}}
              </td>
              <td fd-table-cell>
                {{product.lob}}
              </td>
              <td fd-table-cell>
                {{product.user_number}}
              </td>
              <td fd-table-cell>
                <span fd-info-label [color]="product.status | statusToColor" > {{product.status | languageStatus:language}} </span>
              </td>
              <td fd-table-cell>
                <button 
                fd-button
                [glyph]="'edit'"
                title="Edit product"
                (click)="openEditModal(product)"
                [fdType]="'transparent'">
              </button>
            </td>
            <td fd-table-cell>
              <button 
              fd-button
              [glyph]="'delete'"
              title="Delete product"
              (click)="openConfirmModal(product.company)"
              [fdType]="'transparent'">
            </button>
            </td>
          </tr>
        </tbody>
        <tfoot fd-table-footer>
          <button 
          fd-button 
          [fdMenu]="true" 
          [fdMenuTrigger]="itemsPerPageMenu"
          style="margin-right: 20px;"
          [label]="'Items Per Page'"></button>
          <fd-pagination
              [totalItems]="totalProducts"
              (pageChangeStart)="newPageClicked($event)"
              [itemsPerPage]="limit"
              [currentPage]="currentPage"
          ></fd-pagination>
        </tfoot>
      </table>
      <fd-menu #itemsPerPageMenu>
        <li fd-menu-item *ngFor="let value of itemsPerPageOptions" (click)="limitChange(value)">
            <span fd-menu-interactive>{{ value }}</span>
        </li>
      </fd-menu>
    </fd-table-wrapper>
    </fd-layout-panel-body>
</fd-layout-panel>
<div *ngIf="!(products)"
      class="spinner-container">
    <fd-busy-indicator [loading]="true"></fd-busy-indicator>
</div>