<fd-layout-panel>
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <h2>{{productsPage.title | titlecase}}</h2>
            <fd-layout-panel-description>{{productsPage.description}}</fd-layout-panel-description>
        </fd-layout-panel-head>
        <fd-layout-panel-actions>
            <button 
            [compact]="globalCompact"
            fd-button
            fdType="transparent"
            glyph="add"
            (click)="openCreateModal()">
            </button>
        </fd-layout-panel-actions>
    </fd-layout-panel-header>
    <fd-layout-panel-filters *ngIf="multiInputProducts">
      <fd-multi-input 
      [mobile]="mobile"
      [compact]="globalCompact"
      [dropdownValues]="multiInputProducts"
      [placeholder]="language=='en'?'Search here...':'Rechercher ...'"
      [(ngModel)]="selected"
      (ngModelChange)="refresh(false)"
      >
      
      </fd-multi-input>
      <span *ngFor="let item of selected; let i = index"></span>
    </fd-layout-panel-filters>
    <fd-layout-panel-body *ngIf="products">
      <table  *ngIf="mobile && tableHeaders" fd-table [popIn]="true" [noBorderX]="true" [noBorderY]="true">
        <thead fd-table-header>
          <tr fd-table-row>
            <th fd-table-cell colspan="100%">{{productsPage.title | titlecase}}</th>
          </tr>
        </thead>
        <tbody fd-table-body>
          <ng-container *ngFor="let product of products">
            <tr fd-table-row [main]="true">
              <td fd-table-cell>
                <p fd-table-text [title]="true">{{product.name | titlecase}}</p>
              </td>
            </tr>
            <tr fd-table-row [secondary]="true">
              <td fd-table-cell colspan="100%">
                <p fd-table-text>
                    <label fd-form-label>{{tableHeaders[1]}}:</label>
                    {{product.contact | titlecase}}
                </p>
                <p fd-table-text>
                    <label fd-form-label>{{tableHeaders[3]}}:</label>
                    {{product.lob | titlecase}}
                </p>
                <p fd-table-text>
                    <label fd-form-label>{{tableHeaders[4]}}:</label>
                    {{product.user_number | currency}}
                </p>
                <p fd-table-text>
                  <label fd-form-label>{{tableHeaders[5]}}:</label>
                  <span fd-info-label [color]="product.status | statusToColor"
                  modifier="pill">{{product.status}}</span>
                </p>
              </td>
              <td fd-table-cell>
                <button 
                fd-button
                [glyph]="'edit'"
                title="Edit product"
                (click)="openEditModal(product)"
                [fdType]="'transparent'">
              </button>
            </td>
            <td fd-table-cell>
              <button 
              fd-button
              [glyph]="'delete'"
              title="Delete product"
              (click)="openConfirmModal(product.company)"
              [fdType]="'transparent'">
            </button>
            </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <table  *ngIf="!mobile  && tableHeaders" fd-table [noBorderX]="true">
        <thead fd-table-header>
          <tr fd-table-row>
            <th fd-table-cell *ngFor="let header of tableHeaders">{{header}}</th>
          </tr>
        </thead>
        <tbody fd-table-body>
          <ng-container *ngFor="let product of products">
            <tr fd-table-row [main]="true" [activable]="true">
                <td fd-table-cell>
                    {{product.name | titlecase}}
                </td>
                <td fd-table-cell>
                    {{product.contact | titlecase}}
                </td>
                <td fd-table-cell>
                    {{product.lob | titlecase}}
                </td>
                <td fd-table-cell>
                    {{product.user_number | currency}}
                </td>
                <td fd-table-cell>
                  <span fd-info-label [color]="product.status | statusToColor"
                  modifier="pill">{{product.status}}</span>
                </td>
                <td fd-table-cell>
                    <button 
                    fd-button
                    [glyph]="'edit'"
                    title="Edit product"
                    (click)="openEditModal(product)"
                    [fdType]="'transparent'">
                  </button>
                </td>
                <td fd-table-cell>
                  <button 
                  fd-button
                  [glyph]="'delete'"
                  title="Delete product"
                  (click)="openConfirmModal(product.company)"
                  [fdType]="'transparent'">
                </button>
                </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <fd-menu #itemsPerPageMenu>
        <li fd-menu-item *ngFor="let value of itemsPerPageOptions" (click)="limitChange(value)">
            <span fd-menu-interactive>{{ value }}</span>
        </li>
      </fd-menu>
    </fd-layout-panel-body>
</fd-layout-panel>
<div *ngIf="!(products)"
      class="spinner-container">
    <fd-busy-indicator [loading]="true"></fd-busy-indicator>
</div>