<fd-layout-panel>
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <h2>{{contractPage.title | titlecase}}</h2>
            <fd-layout-panel-description>{{contractPage.description}}
            </fd-layout-panel-description>
        </fd-layout-panel-head>
        <fd-layout-panel-actions>
            <button 
              [compact]="globalCompact"
              fd-button
              fdType="transparent"
              glyph="add"
              (click)="openCreateModal()"></button>
        </fd-layout-panel-actions>
    </fd-layout-panel-header>
    <fd-layout-panel-filters *ngIf="contracts">
      <fd-multi-input 
      [compact]="globalCompact"
      [dropdownValues]="multiInputContracts"
      [placeholder]="language=='en'?'Search here...':'Rechercher ...'"
      [(ngModel)]="selected"
      (ngModelChange)="refresh(false)"
      >
      </fd-multi-input>
        <span *ngFor="let item of selected; let i = index"></span>
      </fd-layout-panel-filters>
    <fd-layout-panel-body>
      <fd-busy-indicator [loading]="loading"  block="true">
        <fd-table-wrapper *ngIf="!loading">
            <table fd-table>
              <thead fd-table-header>
                <tr fd-table-row>
                    <th fd-table-cell *ngFor="let header of tableHeaders">{{header | titlecase}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let contract of contracts" fd-table-row>
                  <td fd-table-cell>
                    {{contract.company}}
                    <fd-inline-help [inlineHelpContentStyle]="{ 'background-color': 'var(--sapGroup_ContentBackground)', color: 'var(--sapTextColor)', 'border-color': 'var(--sapGroup_ContentBorderColor)'}" [placement]="'right'">
                      Information about {{contract.company}}
                    </fd-inline-help>
                  </td>
                  <td fd-table-cell>
                    {{contract.contact}}
                  </td>
                  <td fd-table-cell>
                    {{contract.signed.seconds | date:'yyyy/MM/dd'}}
                  </td>
                  <td fd-table-cell>
                    {{contract.type | languageType: language | uppercase}}
                  </td>
                  <td fd-table-cell>
                    {{contract.value | currency}}
                  </td>
                  <td fd-table-cell>
                    <span fd-info-label [color]="contract.status | statusToColor" > {{contract.status | languageStatus:language}} </span>
                  </td>
                  <td fd-table-cell>
                    <button 
                    fd-button
                    [glyph]="'edit'"
                    title="Edit Contract"
                    (click)="openEditModal(contract)"
                    [fdType]="'transparent'">
                  </button>
                </td>
                <td fd-table-cell>
                  <button 
                  fd-button
                  [glyph]="'delete'"
                  title="Delete Contract"
                  (click)="openConfirmModal(contract.company)"
                  [fdType]="'transparent'">
                </button>
                </td>
              </tr>
            </tbody>
            <tfoot fd-table-footer>
              <button 
              fd-button 
              [fdMenu]="true" 
              [fdMenuTrigger]="itemsPerPageMenu"
              style="margin-right: 20px;">Items Per Page</button>
              <fd-pagination
                  [totalItems]="totalContracts"
                  (pageChangeStart)="newPageClicked($event)"
                  [itemsPerPage]="limit"
                  [currentPage]="currentPage"
              ></fd-pagination>
            </tfoot>
          </table>
          <fd-menu #itemsPerPageMenu>
            <li fd-menu-item *ngFor="let value of itemsPerPageOptions" (click)="limitChange(value)">
                <span fd-menu-interactive>{{ value }}</span>
            </li>
          </fd-menu>
        </fd-table-wrapper>
      </fd-busy-indicator>
    </fd-layout-panel-body>
</fd-layout-panel>

