:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: var(--sapContent_ContrastIconColor);
}

.action-button {
    transition: all 0.2s ease-in-out;
    margin-left: 24px;
    display: inline-block;
    cursor: pointer;
    color: var(--fd-color-action-1);

    &:hover {
        transform: scale(1.25);
    }
}

.cdk-drag-preview {
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


@media screen and (max-width: 600px) {
    .action-button {
        margin-left: 8px;
    }
}


.cdk-row {
    &.cdk-drag{
        height: 50px;
        &.cdk-drag-preview{
            height: 20px;
            td {
                padding: 8px 40px;
                font-weight: lighter;
                font-size: 14px;
                font-family: '72', sans-serif;
            }
        }
    }
}

.cdk-header-row{
    text-align: left;
}


.fd-badge{
    &--error{
        background-color: #f9e6e6;
        border-color: var(--sapUiAccent3, #d04343);
    }

    &--warning{
        background-color: #fdf3e6;
        border-color: var(--sapUiAccent1, #d08014);
    }

    &--success{
        background-color: #f8fde7;
        border-color: var(--sapUiAccent1, #7ca10c);
    }
}

.mat-cell,
.mat-header-cell {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mat-table {
    width: 100%;
}

.mat-icon-button {
    position: absolute;
    top:5px;
    left: 95%;
}