<fd-panel class="panel-custom"
          [routerLink]="'/contracts'"
          style="margin-right: 18px;">
    <fd-panel-header>
        <fd-panel-head>
            <h2>Contracts</h2>
            <fd-panel-description>Quick information about company contracts.</fd-panel-description>
        </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body>
        <ng-container *ngIf="contracts | async as contractList">
            <table class="table-custom">
                <tr *ngFor="let contract of contractList.slice(0, 3)">
                    <td>{{contract.company}}</td>
                    <td>{{contract.contact}}</td>
                    <td>{{contract.value}}</td>
                    <td class="badge-cell">
                        <span fd-badge [status]="contract.status | status"
                                  modifier="pill">
                            {{contract.status}}
                    </span>
                    </td>
                </tr>
            </table>
        </ng-container>
        <div *ngIf="!(contracts | async)"
             class="spinner-container">
            <fd-loading-spinner [loading]="true"></fd-loading-spinner>
        </div>
    </fd-panel-body>
</fd-panel>

<fd-panel class="panel-custom"
          [routerLink]="'/products'"
          style="margin-left: 18px;">
    <fd-panel-header>
        <fd-panel-head>
            <h2>Products</h2>
            <fd-panel-description>Quick information about company products.</fd-panel-description>
        </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body>
        <ng-container *ngIf="products | async as productList">
            <table class="table-custom">
                <tr *ngFor="let product of productList.slice(0, 3)">
                    <td>{{product.name}}</td>
                    <td>{{product.contact}}</td>
                    <td>{{product.lob}}</td>
                    <td class="badge-cell">
                        <span fd-badge [status]="product.status | status"
                                  modifier="pill">
                            {{product.status}}
                    </span>
                    </td>
                </tr>
            </table>
        </ng-container>
        <div *ngIf="!(contracts | async)"
             class="spinner-container">
            <fd-loading-spinner [loading]="true"></fd-loading-spinner>
        </div>
    </fd-panel-body>
</fd-panel>