<fd-layout-panel class="panel-custom"
          [routerLink]="'/contracts'"
          queryParamsHandling="preserve">
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <h2>{{contract.title | titlecase}}</h2>
            <fd-layout-panel-description>{{contract.description}}</fd-layout-panel-description>
        </fd-layout-panel-head>
    </fd-layout-panel-header>
    <fd-layout-panel-body>
        <ng-container *ngIf="contracts && contractTableHeaders">
            <table *ngIf="mobile" fd-table [popIn]="true" [noBorderX]="true" [noBorderY]="true">
                <thead fd-table-header>
                  <tr fd-table-row>
                    <th fd-table-cell colspan="100%">{{contract.title | titlecase}}</th>
                  </tr>
                </thead>
                <tbody fd-table-body>
                  <ng-container *ngFor="let contract of contracts.slice(0,3)">
                    <tr fd-table-row [main]="true">
                      <td fd-table-cell>
                        <p fd-table-text [title]="true">{{contract.company | titlecase}}</p>
                      </td>
                    </tr>
                    <tr fd-table-row [secondary]="true">
                      <td fd-table-cell colspan="100%">
                        <p fd-table-text>
                            <label fd-form-label>{{contractTableHeaders[1]}}:</label>
                            {{contract.contact | titlecase}}
                        </p>
                        <p fd-table-text>
                            <label fd-form-label>{{contractTableHeaders[2]}}:</label>
                            {{contract.signed.toDate() | date}}
                        </p>
                        <p fd-table-text>
                            <label fd-form-label>{{contractTableHeaders[3]}}:</label>
                            {{contract.type | titlecase}}
                        </p>
                        <p fd-table-text>
                            <label fd-form-label>{{contractTableHeaders[4]}}:</label>
                            {{contract.value | currency}}
                        </p>
                        <p fd-table-text>
                          <label fd-form-label>{{contractTableHeaders[5]}}:</label>
                          <span fd-info-label [color]="contract.status | statusToColor"
                          modifier="pill">{{contract.status}}</span>
                        </p>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <table  *ngIf="!mobile" fd-table [noBorderX]="true">
                <thead fd-table-header>
                  <tr fd-table-row>
                    <th fd-table-cell *ngFor="let header of contractTableHeaders.slice(0,6)">{{header}}</th>
                  </tr>
                </thead>
                <tbody fd-table-body>
                  <ng-container *ngFor="let contract of contracts.slice(0,3)">
                    <tr fd-table-row [main]="true" [activable]="true">
                        <td fd-table-cell>
                            {{contract.company | titlecase}}
                        </td>
                        <td fd-table-cell>
                            {{contract.contact | titlecase}}
                        </td>
                        <td fd-table-cell>
                            {{contract.signed.toDate() | date}}
                        </td>
                        <td fd-table-cell>
                            {{contract.type | titlecase}}
                        </td>
                        <td fd-table-cell>
                            {{contract.value | currency}}
                        </td>
                        <td fd-table-cell>
                          <span fd-info-label [color]="contract.status | statusToColor"
                          modifier="pill">{{contract.status}}</span>
                        </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
        </ng-container>
        <div *ngIf="!(contracts)"
             class="spinner-container">
            <fd-busy-indicator [loading]="true"></fd-busy-indicator>
        </div>
    </fd-layout-panel-body>
</fd-layout-panel>
<fd-layout-panel class="panel-custom"
          [routerLink]="'/products'"
          queryParamsHandling="preserve">
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <h2>{{product.title | titlecase}}</h2>
            <fd-layout-panel-description>{{product.description}}</fd-layout-panel-description>
        </fd-layout-panel-head>
    </fd-layout-panel-header>
    <fd-layout-panel-body>
        <ng-container *ngIf="products && productTableHeaders">
            <table  *ngIf="mobile" fd-table [popIn]="true" [noBorderX]="true" [noBorderY]="true">
                <thead fd-table-header>
                  <tr fd-table-row>
                    <th fd-table-cell colspan="100%">{{product.title | titlecase}}</th>
                  </tr>
                </thead>
                <tbody fd-table-body>
                  <ng-container *ngFor="let product of products.slice(0,3)">
                    <tr fd-table-row [main]="true">
                      <td fd-table-cell>
                        <p fd-table-text [title]="true">{{product.name | titlecase}}</p>
                      </td>
                    </tr>
                    <tr fd-table-row [secondary]="true">
                      <td fd-table-cell colspan="100%">
                        <p fd-table-text>
                            <label fd-form-label>{{productTableHeaders[1]}}:</label>
                            {{product.contact | titlecase}}
                        </p>
                        <p fd-table-text>
                            <label fd-form-label>{{productTableHeaders[3]}}:</label>
                            {{product.lob | titlecase}}
                        </p>
                        <p fd-table-text>
                            <label fd-form-label>{{productTableHeaders[4]}}:</label>
                            {{product.user_number | currency}}
                        </p>
                        <p fd-table-text>
                          <label fd-form-label>{{productTableHeaders[5]}}:</label>
                          <span fd-info-label [color]="product.status | statusToColor"
                          modifier="pill">{{product.status}}</span>
                        </p>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <table  *ngIf="!mobile" fd-table [noBorderX]="true">
                <thead fd-table-header>
                  <tr fd-table-row>
                    <th fd-table-cell *ngFor="let header of productTableHeaders.slice(0,5)">{{header}}</th>
                  </tr>
                </thead>
                <tbody fd-table-body>
                  <ng-container *ngFor="let product of products.slice(0,3)">
                    <tr fd-table-row [main]="true" [activable]="true">
                        <td fd-table-cell>
                            {{product.name | titlecase}}
                        </td>
                        <td fd-table-cell>
                            {{product.contact | titlecase}}
                        </td>
                        <td fd-table-cell>
                            {{product.lob | titlecase}}
                        </td>
                        <td fd-table-cell>
                            {{product.user_number | currency}}
                        </td>
                        <td fd-table-cell>
                          <span fd-info-label [color]="product.status | statusToColor"
                          modifier="pill">{{product.status}}</span>
                        </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
        </ng-container>
        <div *ngIf="!(products)"
             class="spinner-container">
            <fd-busy-indicator [loading]="true"></fd-busy-indicator>
        </div>
    </fd-layout-panel-body>
</fd-layout-panel>