<!-- <fd-layout-panel class="panel-custom"
        [routerLink]="'/contracts'">
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <h2 fd-layout-panel-title>{{labels.contracts}}</h2>
            <fd-layout-panel-description>{{labels.contractsDescription}}</fd-layout-panel-description>
        </fd-layout-panel-head>
    </fd-layout-panel-header>
    <fd-layout-panel-body>
        <ng-container *ngIf="contracts | async as contractList">
            <table fd-table>
                <thead fd-table-header>
                    <tr fd-table-row>
                        <th fd-table-cell *ngFor="let title of contractHeaders">{{title}}</th>
                    </tr>
                </thead>
                <tbody fd-table-body>
                    <tr fd-table-row *ngFor="let contract of contractList.slice(0,4)">
                        <td fd-table-cell>{{contract.company}}</td>
                        <td fd-table-cell>{{contract.contact}}</td>
                        <td fd-table-cell>{{contract.type}}</td>
                        <td fd-table-cell>{{contract.value}}</td>
                        <td fd-table-cell>
                            <span fd-info-label [color]="contract.status | status "
                                      modifier="pill">
                                {{contract.status | uppercase}}
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <div *ngIf="!(products | async)"
            class="spinner-container">
            <fd-busy-indicator [loading]="true"></fd-busy-indicator>
        </div>
    </fd-layout-panel-body>
</fd-layout-panel>
<fd-layout-panel class="panel-custom"
          [routerLink]="'/products'">
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <h2 fd-layout-panel-title>{{labels.products}}</h2>
            <fd-layout-panel-description>{{labels.productsDescription}}</fd-layout-panel-description>
        </fd-layout-panel-head>
    </fd-layout-panel-header>
    <fd-layout-panel-body>
        <ng-container *ngIf="products | async as productList">
            <table fd-table>
                <thead fd-table-header>
                    <tr fd-table-row>
                        <th fd-table-cell *ngFor="let title of headers">{{title}}</th>
                    </tr>
                </thead>
                <tbody fd-table-body>
                    <tr fd-table-row *ngFor="let product of productList.slice(0, 4)">
                        <td fd-table-cell>{{product.name}}</td>
                        <td fd-table-cell>{{product.contact}}</td>
                        <td fd-table-cell>{{product.lob}}</td>
                        <td fd-table-cell>
                            <span fd-info-label [color]="product.status | status "
                                      modifier="pill">
                                {{product.status | uppercase}}
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <div *ngIf="!(products | async)"
             class="spinner-container">
            <fd-busy-indicator [loading]="true"></fd-busy-indicator>
        </div>
    </fd-layout-panel-body>
</fd-layout-panel> -->

<mat-card [routerLink]="'/contracts'">
    <mat-card-title>{{labels.contracts}}</mat-card-title>
    <mat-card-subtitle>{{labels.contractsDescription}}</mat-card-subtitle>
    <ng-container *ngIf="contracts | async as contractList">
        <table mat-table [dataSource]="contractList.slice(0, 5)" class="mat-elevation-z8">
            <tr mat-header-row *matHeaderRowDef="['company', 'contact','type', 'value', 'status']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['company', 'contact','type', 'value', 'status'];"></tr>
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef> Company </th>
                <td mat-cell *matCellDef="let element"> {{element.company}} </td>
            </ng-container>
            
            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef> Contact </th>
                <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
            </ng-container> 
    
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>
            
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list>
                            <mat-chip selected="true" [color]="element.status=='dropped'? 'warn': '' || element.status=='on hold'? 'accent': '' || element.status=='completed'? 'primary': ''">
                                {{element.status}} 
                            </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
            </table>
    </ng-container>
    <div *ngIf="!(contracts | async)"
            class="spinner-container">
        <fd-busy-indicator [loading]="true"></fd-busy-indicator>
    </div>
</mat-card>

<mat-card [routerLink]="'/products'">
    <mat-card-title>{{labels.products}}</mat-card-title>
    <mat-card-subtitle>{{labels.productsDescription}}</mat-card-subtitle>
    <ng-container *ngIf="products | async as productList">
        <table mat-table [dataSource]="productList.slice(0, 5)" class="mat-elevation-z8">
            <tr mat-header-row *matHeaderRowDef="['name', 'contact', 'lob', 'status']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['name', 'contact', 'lob', 'status'];"></tr>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef> Contact </th>
                <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
            </ng-container>
            
            <ng-container matColumnDef="lob">
                <th mat-header-cell *matHeaderCellDef> Line Of Business </th>
                <td mat-cell *matCellDef="let element"> {{element.lob}} </td>
            </ng-container>
            
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list>
                            <mat-chip selected="true" [color]="element.status=='dropped'? 'warn': '' || element.status=='in progress'? 'accent': '' || element.status=='completed'? 'primary': ''">
                                {{element.status}} 
                            </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
            </table>
    </ng-container>
    <div *ngIf="!(products | async)"
            class="spinner-container">
        <fd-busy-indicator [loading]="true"></fd-busy-indicator>
    </div>
</mat-card>
<!-- 
<fd-layout-panel class="panel-custom"
        [routerLink]="'/contracts'">
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <h2 fd-layout-panel-title>{{labels.contracts}}</h2>
            <fd-layout-panel-description>{{labels.contractsDescription}}</fd-layout-panel-description>
        </fd-layout-panel-head>
    </fd-layout-panel-header>
    <fd-layout-panel-body>
        <ng-container *ngIf="contracts | async as contractList">
            <table fd-table>
                <thead fd-table-header>
                    <tr fd-table-row>
                        <th fd-table-cell *ngFor="let title of contractHeaders">{{title}}</th>
                    </tr>
                </thead>
                <tbody fd-table-body>
                    <tr fd-table-row *ngFor="let contract of contractList.slice(0,4)">
                        <td fd-table-cell>{{contract.company}}</td>
                        <td fd-table-cell>{{contract.contact}}</td>
                        <td fd-table-cell>{{contract.type}}</td>
                        <td fd-table-cell>{{contract.value}}</td>
                        <td fd-table-cell>
                            <span fd-info-label [color]="contract.status | status "
                                      modifier="pill">
                                {{contract.status | uppercase}}
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <div *ngIf="!(products | async)"
            class="spinner-container">
            <fd-busy-indicator [loading]="true"></fd-busy-indicator>
        </div>
    </fd-layout-panel-body>
</fd-layout-panel>

<fd-layout-panel class="panel-custom"
          [routerLink]="'/products'">
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <h2 fd-layout-panel-title>{{labels.products}}</h2>
            <fd-layout-panel-description>{{labels.productsDescription}}</fd-layout-panel-description>
        </fd-layout-panel-head>
    </fd-layout-panel-header>
    <fd-layout-panel-body>
        <ng-container *ngIf="products | async as productList">
            <table fd-table>
                <thead fd-table-header>
                    <tr fd-table-row>
                        <th fd-table-cell *ngFor="let title of headers">{{title}}</th>
                    </tr>
                </thead>
                <tbody fd-table-body>
                    <tr fd-table-row *ngFor="let product of productList.slice(0, 4)">
                        <td fd-table-cell>{{product.name}}</td>
                        <td fd-table-cell>{{product.contact}}</td>
                        <td fd-table-cell>{{product.lob}}</td>
                        <td fd-table-cell>
                            <span fd-info-label [color]="product.status | status "
                                      modifier="pill">
                                {{product.status | uppercase}}
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <div *ngIf="!(products | async)"
             class="spinner-container">
            <fd-busy-indicator [loading]="true"></fd-busy-indicator>
        </div>
    </fd-layout-panel-body>
</fd-layout-panel> -->
