@media (min-width: 0) {
    :host {
        box-sizing: border-box;
        flex-wrap: wrap;
        overflow: scroll;
        height: 100vh;
        padding: 0;
    }

    .panel-custom {
        width: 100%;
        margin: 0;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    
        &:hover {
            box-shadow: 0 0 20px 0 rgba(88, 92, 110, 0.4);
        }
    
        .badge-cell {
            text-align: end;
        }
    }
}
@media (min-width: 768px) {
    :host {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-grow: 1;
        padding: 36px;
    }
}
@media (min-width: 1024px) {
    :host {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-grow: 1;
        padding: 36px;
    }

    .panel-custom {
        width: 50%;
        padding: 0 1rem;
    }
}


.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: var(--fd-color-background-2);//TODO
}

.table-custom {
    width: 100%;
}
