<div class="fn-page__title">
    <div class="fn-page__container fn-page__container--left">
      <h3 class="fn-title fn-title--h3">Fundamental Library for Angular Examples</h3>
    </div>
    <div class="fn-page__container fn-page__container--middle">
      <div class="fn-search">
        <span class="sap-icon sap-icon--search"></span>
        <input type="search" class="fn-search__input" placeholder="Search everything" />
        <span class="sap-icon sap-icon--navigation-right-arrow"></span>
      </div>
    </div>
    <div class="fn-page__container fn-page__container--right">
      <div class="fn-page__element">
        <button class="fn-button fn-button--layout fn-button--icon-only" aria-label="More">
          <span class="sap-icon sap-icon--pushpin-on"></span>
        </button>
      </div>
      <div class="fn-page__element">
        <button class="fn-button fn-button--layout fn-button--icon-only" aria-label="More">
          <span class="sap-icon sap-icon--table-view"></span>
        </button>
      </div>
      <div class="fn-page__element">
        <button class="fn-button fn-button--layout fn-button--icon-only" aria-label="More">
          <span class="sap-icon sap-icon--decline"></span>
        </button>
      </div>
    </div>
  </div>
  
  <div class='fd-container' style="padding-top:1rem">
    <div class='fd-row'>
      <div class='fd-col fd-col--4'>
        <div class="fn-card" style="max-width: 40rem">
          <div class="fn-card__header">
            <div class="fn-card__title-container">
              <h1 class="fn-card__title">Simple Form</h1>
            </div>
          </div>
          <div class="fn-card__content">See the <a class="fn-link" routerLink="/simple-form" routerLinkActive="active">example</a></div>
        </div>
      </div>
  
      <div class='fd-col fd-col--4'>
        <div class="fn-card" style="max-width: 40rem">
          <div class="fn-card__header">
            <div class="fn-card__title-container">
              <h1 class="fn-card__title">Form with @fundamental-ngx/core</h1>
            </div>
          </div>
          <div class="fn-card__content"><a class="fn-link" routerLink="/core-form" routerLinkActive="active">example</a></div>
        </div>
      </div>
    </div>
  </div>