  <div class="landing-page">
    <div class="fd-shellbar">
      <div class="fd-shellbar__group fd-shellbar__group--product">
        <!-- <div class="fd-shellbar__logo">
          <img src="favicon.ico" alt="NGX app">
        </div> -->
        <div class="fd-shellbar__title">Fundamental Library for Angular Examples</div>
      </div>
      <div class="fd-shellbar__group fd-shellbar__group--actions">
        <div class="fd-shellbar__action fd-shellbar__action-desktop">
          <button class="fd-button fd-button--transparent fd-shellbar__button">
            <i class="sap-icon sap-icon--pushpin-on"></i>
          </button>
        </div>
        <div class="fd-shellbar__action fd-shellbar__action-desktop">
          <button class="fd-button fd-button--transparent fd-shellbar__button">
            <i class="sap-icon sap-icon--table-view"></i>
          </button>
        </div>
        <div class="fd-shellbar__action fd-shellbar__action-desktop">
          <button class="fd-button fd-button--transparent fd-shellbar__button">
            <i class="sap-icon sap-icon--decline"></i>
          </button>
        </div>
      </div>
    </div>
    <div style="display: flex; gap: 10px; margin-top: 20px; justify-content: space-around;">
      <div role="button" class="fd-tile fd-tile--launch" routerLink="/simple-form" routerLinkActive="active">
        <div class="fd-badge">HTML</div>
        <div class="fd-tile__header">
          <div class="fd-tile__title">Simple Form</div>
          <div class="fd-tile__subtitle">Plain</div>
        </div>
      </div>
      <div role="button" class="fd-tile fd-tile--launch" routerLink="/simple-form-styles" routerLinkActive="active">
        <div class="fd-badge">HTML + CSS</div>
        <div class="fd-tile__header">
          <div class="fd-tile__title">Simple Form</div>
          <div class="fd-tile__subtitle">Styled</div>
        </div>
      </div>
      <div role="button" class="fd-tile fd-tile--launch" routerLink="/core-form" routerLinkActive="active">
        <div class="fd-badge">NGX</div>
        <div class="fd-tile__header">
          <div class="fd-tile__title">Angular Form</div>
          <div class="fd-tile__subtitle">Template Driven</div>
        </div>
      </div>
      <div role="button" class="fd-tile fd-tile--launch" routerLink="/reactive-form" routerLinkActive="active">
        <div class="fd-badge">NGX</div>
        <div class="fd-tile__header">
          <div class="fd-tile__title">Angular Form</div>
          <div class="fd-tile__subtitle">Reactive</div>
        </div>
      </div>
      <div role="button" class="fd-tile fd-tile--launch" routerLink="/platform-form" routerLinkActive="active">
        <div class="fd-badge">NGX</div>
        <div class="fd-tile__header">
          <div class="fd-tile__title">Angular Form</div>
          <div class="fd-tile__subtitle">Platform Form Generator</div>
        </div>
      </div>
      <div role="button" class="fd-tile fd-tile--launch" routerLink="/wizard-form" routerLinkActive="active">
        <div class="fd-badge">NGX</div>
        <div class="fd-tile__header">
          <div class="fd-tile__title">Angular Form</div>
          <div class="fd-tile__subtitle">Platform Wizard Generatordiv>
        </div>
      </div>
    </div>
  </div>
