<fd-notification-header
  (closeButtonClick)="notificationRef.dismiss('Close Icon Click')"
  [type]="notificationRef.data.type">
  <h3  *ngIf="!notificationRef.data.invalid" fd-notification-title>{{ notificationRef.data.company }} {{language=='en'?'Added':'Ajoutée'}}</h3>
  <h3  *ngIf="notificationRef.data.invalid" fd-notification-title>{{language=='en'?'No Account':'Pas de Compte'}}</h3>
</fd-notification-header>
<fd-notification-body>
    <div fd-notification-content>
        <div fd-notification-avatar *ngIf="!notificationRef.data.invalid">
            <span fd-identifier [size]="'s'" [circle]="true" aria-label="notificationRef.data.company">{{notificationRef.data.company.charAt(0)}}</span>
        </div>
        <div fd-notification-text>
            <div fd-notification-description>
              <p *ngIf="!notificationRef.data.invalid">
                {{ notificationRef.data.contact }} 
                {{ notificationRef.data.status }}  
              </p>
              <p *ngIf="notificationRef.data.invalid">

                {{language=='en'?'Not logged in! Sign up or login!':'
                Pas connecté! Inscrivez-vous ou connectez-vous a votre compte'}}
              </p>
            </div>
        </div>
    </div>
    <fd-notification-footer>
        <div fd-notification-actions>
            <button fd-button [fdType]="'positive'" (click)="notificationRef.close('OK')">
                Ok
            </button>
            <button fd-button [fdType]="'negative'" (click)="notificationRef.dismiss()">
              {{language=='en'?'Undo':'
              Annuler'}}
            </button>
        </div>
    </fd-notification-footer>
</fd-notification-body>