<fd-dialog>
  <fd-dialog-header>
    <h1 fd-dialog-title>Are you sure?</h1>
    <button fd-dialog-close-btn (click)="dialogRef.dismiss()"></button>
  </fd-dialog-header>
  <fd-dialog-body>
      This action is permanent and cannot be reversed. Are you sure you want to continue?
  </fd-dialog-body>
  <fd-dialog-footer>
      <button fd-button fdType="main" (click)="dialogRef.close(true)">Delete</button>
      <button fd-button fdType="transparent" (click)="dialogRef.close(false)">Cancel</button>
  </fd-dialog-footer>
</fd-dialog>
