<h1 mat-dialog-title>{{ editMode ? 'Edit' : 'Create'}} a Contract</h1>
<div mat-dialog-content>
    <form [formGroup]="contractForm"
          (ngSubmit)="submitForm()"
          id="main-form"
          class="form">
            <mat-form-field class="form-element">
                    <mat-label for="company-input">
                        Company: 
                    </mat-label>
                    <input matInput 
                           type="text"
                           id="company-input"
                           placeholder="Enter a company"
                           [formControlName]="'company'"
                           [errorStateMatcher]="matcher"
                           >
            </mat-form-field>
            <mat-form-field class="form-element">
                    <mat-label for="contact-input">
                        Contact: 
                    </mat-label>
                    <input matInput
                           type="text"
                           id="contact-input"
                           placeholder="Enter a contact"
                           [formControlName]="'contact'"
                           [errorStateMatcher]="matcher"
                           >                
            </mat-form-field>
            <mat-form-field class="form-element">
                    <mat-label for="'type-1'">
                        Contract Type:
                    </mat-label>
                    <mat-select
                            id="type-1"
                            [formControlName]="'type'"
                            >
                        <mat-option value="premium">Premium</mat-option>
                        <mat-option value="gold">Gold</mat-option>
                        <mat-option value="silver">Silver</mat-option>
                    </mat-select>
            </mat-form-field>
            <mat-form-field class="form-element">
                    <mat-label for="value-input">
                        Value: 
                    </mat-label>
                    <input matInput
                           type="number"
                           id="value-input"
                           placeholder="Enter a number"
                           [formControlName]="'value'"
                           [errorStateMatcher]="matcher"
                          >
            </mat-form-field>
            <mat-form-field class="form-element">
                    <mat-label for="'status-1'">
                        Status:
                    </mat-label>
                    <mat-select
                            id="status-1"
                            [formControlName]="'status'"
                         >
                        <mat-option value="completed">Completed</mat-option>
                        <mat-option value="on hold">On Hold</mat-option>
                        <mat-option value="dropped">Dropped</mat-option>
                        
                    </mat-select>
            </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button
            fdType="main"
            type="submit"
            (click)="submitForm()"
            form="main-form"
            [disabled]="!contractForm.dirty || contractForm.invalid">{{editMode ? 'Edit' : 'Create'}}
    </button>
    <button mat-raised-button
            fdType="light"
            style="margin-left: 16px;"
            (click)="this.dialogRef.close()">Cancel</button>
</div>