<fd-dialog>
  <fd-dialog-header>
      <h1 fd-dialog-title>{{ editMode == true ? 'Edit' : 'Create'}} a Contract</h1>
      <button
       fd-dialog-close-button
        (click)="dialogRef.dismiss()"></button>
  </fd-dialog-header>
  <fd-dialog-body>
    <form [formGroup]="contractForm"
          (ngSubmit)="submitForm()"
          id="main-form"
          autocomplete="off">
      <fd-layout-grid [col]="2" [nogap]="true">
          <fd-layout-panel>
            <fd-layout-panel-body>
              <div fd-form-item>
                <label fd-form-label for="company-input">{{fields[0] | titlecase}}: </label>
              <fd-form-input-message-group>
                <input fd-form-control [readOnly]="editMode"
                [compact]="globalCompact"
                type="text"
                id="company-input"
                placeholder="Enter a company"
                formControlName="company"
                [state]="contractForm.get('company').touched ? 
                (contractForm.get('company').valid ? 'success' : 'error'):
                (contractForm.get('company').valid ? '' : '')">
                <fd-form-message 
                *ngIf="contractForm.get('company').invalid && contractForm.get('company').touched"
                [type]="contractForm.get('company').touched ? 
                (contractForm.get('company').valid ? 'success' : 'error'):
                (contractForm.get('company').valid ? '' : '')">
                Required Contact Name
                </fd-form-message>
              </fd-form-input-message-group>
            </div>
            </fd-layout-panel-body>
          </fd-layout-panel>
          <fd-layout-panel>
            <fd-layout-panel-body>
              <div fd-form-item>
                <label fd-form-label for="contact-input">{{fields[1] | titlecase}}: </label>
                <fd-form-input-message-group>
                  <input fd-form-control
                  [compact]="globalCompact"
                  type="text"
                  id="contact-input"
                  placeholder="Enter a contact"
                  formControlName="contact"
                  [state]="contractForm.get('contact').touched ? 
                (contractForm.get('contact').valid ? 'success' : 'error'):
                (contractForm.get('contact').valid ? '' : '')">
                <fd-form-message 
                *ngIf="contractForm.get('contact').invalid && contractForm.get('contact').touched"
                [type]="contractForm.get('contact').touched ? 
                (contractForm.get('contact').valid ? 'success' : 'error'):
                (contractForm.get('contact').valid ? '' : '')">
                Required Contact Name</fd-form-message>
                </fd-form-input-message-group>          
              </div>
            </fd-layout-panel-body>
          </fd-layout-panel>
        <fd-layout-panel>
          <fd-layout-panel-body>
              <label fd-form-label for="datepicker-input">{{fields[2] | titlecase}}: </label><br>
                <fd-date-picker 
                  [compact]="globalCompact"
                  formControlName="signed"
                  [type]="'single'"
                  id="datepicker-input"
                  [state]="contractForm.get('signed').touched ? 
                  (contractForm.get('signed').valid ? 'success' : 'error'):
                  (contractForm.get('signed').valid ? '' : '')">
                </fd-date-picker>
                <fd-form-message 
                *ngIf="contractForm.get('signed').invalid && contractForm.get('signed').touched"
                [type]="contractForm.get('signed').touched ? 
                (contractForm.get('signed').valid ? 'success' : 'error'):
                (contractForm.get('signed').valid ? '' : '')">Must enter a date</fd-form-message>
          </fd-layout-panel-body>
        </fd-layout-panel>
        <fd-layout-panel>
          <fd-layout-panel-body>
            <div fd-form-item>
              <label fd-form-label [for]="'type-1'">{{fields[3] | titlecase}}:</label>
                <fd-form-input-message-group>
                  <select 
                  fd-form-control
                  [compact]="globalCompact"
                  id="type-1"
                  formControlName="type"
                  [state]="contractForm.get('type').touched ? 
                  (contractForm.get('type').valid ? 'success' : 'error'):
                  (contractForm.get('type').valid ? '' : '')">
                    <option value="premium">Premium</option>
                    <option value="gold">Gold</option>
                    <option value="silver">Silver</option>
                </select>
                <fd-form-message
                *ngIf="contractForm.get('type').invalid && contractForm.get('type').touched" 
                [type]="contractForm.get('type').touched ? 
                (contractForm.get('type').valid ? 'success' : 'error'):
                (contractForm.get('type').valid ? '' : '')">
                Must enter a type
                </fd-form-message>
              </fd-form-input-message-group>
            </div>
          </fd-layout-panel-body>
          </fd-layout-panel>
        <fd-layout-panel>
          <fd-layout-panel-body>
            <div fd-form-item>
              <label fd-form-label for="value-input">{{fields[4] | titlecase}}:</label>
              <fd-form-input-message-group>
                <input 
                [compact]="globalCompact"
                fd-form-control
                type="number"
                id="value-input"
                placeholder="Enter a number"
                formControlName="value"
                [state]="contractForm.get('value').touched ? 
                (contractForm.get('value').valid ? 'success' : 'error'):
                (contractForm.get('value').valid ? '' : '')">
                <fd-form-message
                *ngIf="contractForm.get('value').invalid && contractForm.get('value').touched"
                [type]="contractForm.get('value').touched ? 
                (contractForm.get('value').valid ? 'success' : 'error'):
                (contractForm.get('value').valid ? '' : '')">
                  Value must be more than 0
                </fd-form-message>
              </fd-form-input-message-group>
            </div>
          </fd-layout-panel-body>
        </fd-layout-panel>
        <fd-layout-panel>
          <fd-layout-panel-body>
            <div fd-form-item>
              <label fd-form-label [for]="'status-1'">{{fields[5] | titlecase}}:</label>
              <fd-form-input-message-group>
                  <select 
                  [compact]="globalCompact"
                  fd-form-control
                  id="status-1"
                  formControlName="status"
                  [state]="contractForm.get('status').touched ? 
                  (contractForm.get('status').valid ? 'success' : 'error'):
                  (contractForm.get('status').valid ? '' : '')">
                    <option value="completed">Completed</option>
                    <option value="on hold">On Hold</option>
                    <option value="dropped">Dropped</option>
                </select>
                <fd-form-message
                *ngIf="contractForm.get('status').invalid && contractForm.get('status').touched"
                [type]="contractForm.get('status').touched ? 
                (contractForm.get('status').valid ? 'success' : 'error'):
                (contractForm.get('status').valid ? '' : '')">
                Required Status
                </fd-form-message>
              </fd-form-input-message-group>
            </div>
          </fd-layout-panel-body>
        </fd-layout-panel>
      </fd-layout-grid>
    </form>
  </fd-dialog-body>
  <fd-dialog-footer>
    <fd-dialog-footer-button>
      <button 
      fd-button
      fd-dialog-decisive-button
      [compact]="globalCompact"
      fdType="main"
      type="submit"
      form="main-form"
      [disabled]="!contractForm.dirty || contractForm.invalid">
        {{editMode == true? 'Edit' : 'Create'}}
      </button>
    </fd-dialog-footer-button>
    <fd-dialog-footer-button>
      <button 
      fd-button
      fd-dialog-decisive-button
      [compact]="globalCompact"
      fdType="transparent"
      style="margin-left: 16px;"
      (click)="this.dialogRef.dismiss()">
      Cancel
    </button>
    </fd-dialog-footer-button>
  </fd-dialog-footer>
</fd-dialog>
