.modal-body {
    display: flex;
    flex-grow: 1;
}

.form {
    display: flex;
    flex-wrap: wrap;
    border: none !important;
    justify-content: center;
}

.form-element {
    margin: 16px;
}

#datepicker-input {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
    }
}
