<form action="/form-page-handling" method="post" clas="fd-container">
  <div class="fd-row">
    <div class="fd-form-header">
      <span class="fd-form-header__text">Personal Information</span>
    </div>
  </div>

  <div class="fd-row">
    <div class="fd-form-group fd-col fd-col--12 fd-col-lg--6 fd-col--wrap">
      <div class="fd-form-group__header">
        <h2 class="fd-form-group__header-text">Primary Information</h2>
      </div>

      <div class="fd-form-item ">
        <label for="first_name" class="fd-form-label fd-form-label--colon fd-form-label--required">First Name</label>
        <input class="fd-input" type="text" placeholder="Enter First Name" name="first_name" id="first_name" required maxlength="32"
          pattern="[A-Za-z]{1,32}">
      </div>

      <div class="fd-form-item">
        <label for="last_name" class="fd-form-label fd-form-label--colon fd-form-label--required">Last Name</label>
        <input class="fd-input" type="text" placeholder="Enter Last Name" name="last_name" id="last_name" required maxlength="32"
          pattern="[A-Za-z]{1,32}">
      </div>

      <div class="fd-form-item">
        <label for="email" class="fd-form-label fd-form-label--colon fd-form-label--required">Email</label>
        <input class="fd-input" type="email" placeholder="Enter Email" name="email" id="email" required>
      </div>

      <div class="fd-form-item">
        <label for="psw" class="fd-form-label fd-form-label--colon fd-form-label--required">Password</label>
        <input class="fd-input" type="password" placeholder="Enter Password" name="psw" id="psw" required>
      </div>

      <div class="fd-form-item">
        <label for="psw-repeat" class="fd-form-label fd-form-label--colon fd-form-label--required">Repeat Password</label>
        <input class="fd-input" type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      </div>
    </div>

    <div class="fd-form-group fd-col fd-col--10 fd-col-lg--6 fd-col--wrap">

      <div class="fd-form-group__header">
        <h2 class="fd-form-group__header-text">Secondary Information</h2>
      </div>

      <div class="fd-form-item">
        <label for="birthday" class="fd-form-label fd-form-label--colon fd-form-label--required">Date of Birth</label>
        <input class="fd-input" type="date" name="bday" id="bday">
      </div>
      <div class="fd-form-item">
        <label for="icecream" class="fd-form-label fd-form-label--colon">Country:</label>
        <input type="text" class="fd-input fd-input-group__input" name="icecream" required list="country" id="icecream">
        <datalist id="country">
          <option value="Albania"></option>
          <option value="Australia"></option>
          <option value="Canada"></option>
          <option value="USA"></option>
          </datalist>
      </div>
      <div class="fd-form-item">
        <fieldset class="fd-fieldset">
          <legend class="fd-fieldset__legend">Sex:</legend>
          <div class="fd-form-group fd-form-group--inline">
          <input class="fd-radio" type="radio" name="sex" value="Female" id="female" checked>
          <label class="fd-radio__label" for="female">Female</label>
          <input class="fd-radio" type="radio" name="sex" value="Male" id="male">
          <label class="fd-radio__label" for="male">Male</label>
          <input class="fd-radio" type="radio" name="sex" value="Other" id="other">
          <label class="fd-radio__label" for="other">Other</label>
        </div>
        </fieldset>
      </div>
      <div class="fd-form-item">
        <label for="bio" class="fd-form-label fd-form-label--colon">Short Bio</label>
        <textarea class="fd-textarea" name="bio" rows="4" cols="50"></textarea>
      </div>
      <div class="fd-form-item">
        <label for="icecream" class="fd-form-label fd-form-label--colon">Favourite Ice Cream</label>
        <input type="text" class="fd-input fd-input-group__input" name="icecream" required list="icecreams" id="icecream">
        <datalist id="icecreams">
          <option value="Mint Chocolate Chip"></option>
          <option value="Vanilla"></option>
          <option value="Mango"></option>
          <option value="Chocolate"></option>
          <option value="Pistachio"></option>
          <option value="Cookie Dough"></option>
          <option value="Strawberry"></option>
          <option value="Green Tea"></option>
        </datalist>
      </div>
      <div class="fd-form-item">
        <fieldset class="fd-fieldset">
          <input   class="fd-checkbox is-information" type="checkbox" id="rememberme" checked name="remember" value="remember">
          <label class="fd-checkbox__label" for="rememberme">
            <div class="fd-checkbox__label-container">
              <span class="fd-checkbox__text">Remember me</span>
            </div>
          </label>
        </fieldset>

      </div>

    </div>
  </div>

  <div class="fd-bar fd-bar--footer">
    <div class="fd-bar__right">
      <div class="fd-bar__element">
        <button class="fd-button fd-button--emphasized" type="submit">Register</button>

      </div>
      <div class="fd-bar__element">
        <input class="fd-button fd-button--ghost" type="reset">

      </div>
    </div>
  </div>
</form>