<form #register="ngForm" (ngSubmit)="submit(register)" id='form' >

    <label fd-form-label [required]="true">First Name</label>
    <fd-input-group 
        placement="before" 
        glyph="account" 
        placeholder="Enter First Name" 
        glyphAriaLabel="account"
        [required]="true"
        ngModel name="firstName" #firstName="ngModel" minlength="3" maxlength="10"
        pattern="[a-zA-Z]+"></fd-input-group>

    <fd-form-message type="error" *ngIf="firstName.touched && !firstName.valid && firstName?.errors?.['minlength']">
        First name is not correct.
    </fd-form-message>




    <label fd-form-label [required]="true">Last Name</label>
    <fd-input-group placement="before" glyph="account" placeholder="Enter Last Name" glyphAriaLabel="account"
        [required]="true" [showFocus]="true" ngModel name="lastName" #lastName="ngModel" minlength="3" maxlength="10"
        pattern="[a-zA-Z]+">
    </fd-input-group>
    <fd-form-message type="error" *ngIf="lastName.touched && !lastName.valid && lastName?.errors?.['minlength']">
        Last name is not correct.
    </fd-form-message>



    <label fd-form-label [required]="true">Email</label>
    <fd-input-group placement="before" glyph="email" placeholder="Enter email" glyphAriaLabel="email" maxlength="3"
        ngModel name="email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" minlength="5">
    </fd-input-group>
    <fd-form-message type="error"
        *ngIf="email.touched && !email.valid && email?.errors?.['pattern'] && email?.errors?.['minlength']">
        Email is not correct.
    </fd-form-message>

    <div fd-form-item>
        <label fd-form-label [required]="true">Password</label>
        <fd-input-group placement="before" glyph="locked" placeholder="Enter password" glyphAriaLabel="password" input
            type="password" maxlength="12" pattern="[A-Za-z]{1,32}">
        </fd-input-group>
    </div>


    <div fd-form-item>
        <label fd-form-label [required]="true">Repeat Password</label>
        <fd-input-group placement="before" glyph="locked" placeholder="Re-enter password" glyphAriaLabel="password"
            input type="password" maxlength="12" pattern="[A-Za-z]{1,32}">
        </fd-input-group>
    </div>


    <div fd-form-item>
        <label fd-form-label [required]="true">Date of Birth</label>
        <fd-date-picker [(ngModel)]="date"></fd-date-picker>

    </div>

    <div fd-form-item>
        <label fd-form-label>Country</label>
        <fd-combobox id="countries" placeholder="Pick a Country" [filterFn]="customFilter"
            [dropdownValues]="dropdownValues">
        </fd-combobox>

    </div>

    <div fd-form-item>

        <fieldset fd-fieldset>
            <legend fd-form-label>Gender</legend>
            <fd-form-group [isInline]="true">

                <div fd-form-item>


                    <fd-radio-button value="val1" id="radio-7" name="radio-name-3" [(ngModel)]="optionThreeVariable">
                        Male
                    </fd-radio-button>
                </div>
                <div fd-form-item>
                    <fd-radio-button value="val2" id="radio-8" name="radio-name-3" [(ngModel)]="optionThreeVariable">
                        Female
                    </fd-radio-button>
                </div>
                <div fd-form-item>
                    <fd-radio-button value="val3" id="radio-9" name="radio-name-3" [(ngModel)]="optionThreeVariable">
                        Other
                    </fd-radio-button>
                </div>
            </fd-form-group>
        </fieldset>
    </div>

    <div fd-form-item>
        <label fd-form-label [colon]="true" for="textarea-11">Short Bio</label>
        <textarea fd-form-control id="textarea-11" placeholder=""></textarea>
    </div>


    <div fd-form-item>
        <label fd-form-label>Favourite Ice Cream</label>
        <fd-combobox id="icecream" placeholder="Ice Cream Flavours" [filterFn]="customFilter"
            [dropdownValues]="dropdownVal2 ">
        </fd-combobox>

    </div>
    <div fd-form-item>
        <fd-checkbox>Remember me</fd-checkbox>
    </div>


    <button type="submit" fd-button label="Register" fdType="emphasized" (click)="showLoad.loading = true"></button>
    <button type="reset" fd-button label="Reset" ariaLabel="Cozy" (click)="showLoad.loading = true"></button>
</form>


<div *ngIf="showLoad.loading" style="text-align: center">
    <fd-busy-indicator [loading]="true" ariaLabel="loading" title="Please Wait"></fd-busy-indicator>
</div>