<form [formGroup]="reg">
  <fieldset fd-fieldset>
    <div class="fd-container fd-form-layout-grid-container">

      <div class="fd-row">
        <div class="fd-form-header">
          <span class="fd-form-header__text">Personal Information</span>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <div fd-form-item>
            <label
              fd-form-label
              for="firstName"
              [required]="f['firstName'].errors && f['firstName'].errors['required']"
              >First Name:</label
            >
            <fd-form-input-message-group>
              <input  fd-form-control 
                              type="text" 
                              [compact]="vtest"
                              id="firstName" 
                              placeholder="Enter Your First Name"
                              formControlName="firstName"
                              [state]="getFieldState(f['firstName'])" />
              <fd-form-message
                type="error"
                *ngIf="f['firstName'].errors && f['firstName'].errors['required']"
              >
                This field is required
              </fd-form-message>
            </fd-form-input-message-group>
          </div>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <div fd-form-item>
            <label
              fd-form-label
              for="lastName"
              [required]="f['lastName'].errors && f['lastName'].errors['required']"
              >Last Name:</label
            >
            <fd-form-input-message-group>
              <fd-input-group
                type="text"
                placement="before"
                glyph="account"
                glyphAriaLabel="account"
                id="lastName"
                placeholder="Enter Your Last Name"
                formControlName="lastName"
                [state]="getFieldState(f['lastName'], 'lastname')"
              ></fd-input-group>
              <fd-form-message
                type="error"
                *ngIf="f['lastName'].errors && f['lastName'].errors['required']"
              >
                This field is required
              </fd-form-message>
            </fd-form-input-message-group>
          </div>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <div fd-form-item>
            <label
              fd-form-label
              for="email"
              [required]="f['email'].errors && f['email'].errors['required']"
              >Email:</label
            >
            <fd-form-input-message-group>
              <fd-input-group
                placement="before"
                glyph="email"
                glyphAriaLabel="email"
                id="email"
                type="email"
                formControlName="email"
                placeholder="Enter Your Email Address"
                [state]="getFieldState(f['email'])"
              ></fd-input-group>
      
              <fd-form-message
                type="error"
                *ngIf="f['email'].touched && f['email'].invalid"
              >
                Enter a valid email
              </fd-form-message>
            </fd-form-input-message-group>
          </div>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <div fd-form-item>
            <label
              fd-form-label
              for="password"
              [required]="f['password'].errors && f['password'].errors['required']"
              >Password:</label
            >
            <fd-form-input-message-group>
              <fd-input-group
                placement="before"
                glyph="locked"
                glyphAriaLabel="locked"
                id="password"
                type="password"
                formControlName="password"
                placeholder="Enter Your Password"
                [state]="getFieldState(f['password'])"
              ></fd-input-group>
              <fd-form-message
                type="error"
                *ngIf="f['password'].touched && f['password'].invalid"
              >
                Enter a valid password
              </fd-form-message>
            </fd-form-input-message-group>
          </div>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <div fd-form-item>
            <label
              fd-form-label
              for="repeat_password"
              [required]="
                f['repeat_password'].errors && f['repeat_password'].errors['required']
              "
              >Repeat Password:</label
            >
            <fd-form-input-message-group>
              <fd-input-group
                placement="before"
                glyph="locked"
                glyphAriaLabel="locked"
                id="repeat_password"
                type="password"
                formControlName="repeat_password"
                placeholder="Repeat Your Password"
                [state]="getFieldState(f['repeat_password'])"
              ></fd-input-group>
              <fd-form-message
                type="error"
                *ngIf="f['repeat_password'].touched && f['repeat_password'].invalid"
              >
                Enter a valid password
              </fd-form-message>
            </fd-form-input-message-group>
          </div>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <div fd-form-item>
            <label for="date" fd-form-label [required]="true">Date of Birth</label>
            <fd-date-picker
              [message]="isValid() ? 'This is valid a date' : 'This is invalid date'"
              [state]="isValid() ? 'success' : 'error'"
              [required]="true"
              formControlName="date"
              inputId="date"
            >
            </fd-date-picker>
          </div>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <div fd-form-item>
            <label fd-form-label>Country:</label>
            <fd-combobox
              [communicateByObject]="true"
              placeholder="Type some text..."
              formControlName="country"
              [dropdownValues]="dropdownValues"
            >
            </fd-combobox>
          </div>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <label fd-form-label>Gender:</label>
          <fd-form-group [isInline]="true">
            <div fd-form-item *ngFor="let value of radioInput.values">
              <fd-radio-button
                selectedValue="reg.controls.radioInput.value"
                value="value"
                name="radioInput.name"
                [formControlName]="radioInput.formControlName">
                {{ value }}
              </fd-radio-button>
            </div>
          </fd-form-group>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <div fd-form-item>
            <label fd-form-label [colon]="true" for="textarea">Short Bio:</label>
            <textarea
              formControlName="textAreaControl"
              fd-form-control
              id="textarea"
              placeholder=""
            ></textarea>
          </div>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <div fd-form-item>
            <label fd-form-label>Ice Cream Flavours</label>
            <fd-combobox
              [communicateByObject]="true"
              placeholder="Type some text..."
              formControlName="icecream"
              [dropdownValues]="dropdownValues2"
            >
            </fd-combobox>
          </div>
        </div>
      </div>

      <div class="fd-row fd-fow--top">
        <div class="fd-col fd-col--12">
          <div fd-form-item>
            <fd-checkbox>Remember me</fd-checkbox>
          </div>
        </div>
      </div>
      
    </div>
  </fieldset>

  <div fd-bar barDesign="footer">
    <div fd-bar-right>
      <fd-bar-element>
        <button
          type="submit"
          fd-button
          label="Register"
          fdType="emphasized"
        ></button>
      </fd-bar-element>
      <fd-bar-element>
        <button
          type="reset"
          fd-button
          label="Reset"
          ariaLabel="Reset form data"
          (click)="reg.reset()"
        ></button>
      </fd-bar-element>
    </div>
  </div>
</form>
<div style="text-align: center">
  <fd-busy-indicator [loading]="loading"></fd-busy-indicator>
</div>
