<fd-shellbar>
    <fd-shellbar-logo>
        <a href="#" class="fd-shellbar__logo fd-shellbar__logo--image-replaced" aria-label="SAP"></a>
    </fd-shellbar-logo>
    <fd-shellbar-title>
        Sample Fundamental-NGX Application
    </fd-shellbar-title>
    <fd-shellbar-actions>
        <fd-product-switch>
            <fd-product-switch-body
                [products]="list"
                (productsChange)="productChangeHandle($event)">
            </fd-product-switch-body>
        </fd-product-switch>
      <fd-shellbar-action
      *ngFor="let action of actions"
      [glyph]="action.glyph"
      [callback]="action.callback"
      [label]="action.label"
  >
  </fd-shellbar-action>
    </fd-shellbar-actions>
</fd-shellbar>
<div class="main-container-div" style="display: flex;">
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
</div>
