<mat-toolbar>Customers Overview
    <div class="menu-items">
        <a [routerLink]="'/'">
            <mat-icon>accessibility</mat-icon>
        </a>
        <a [routerLink]="'/'">
            <mat-icon>account_circle</mat-icon>
        </a>
    </div>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" role="navigation" opened>
            <mat-list role="navigation">
                    <mat-list-item role="navigation" [routerLink]="'/dashboard'">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
                        Dashboard</mat-list-item>
                    <mat-list-item role="navigation" [routerLink]="'/contracts'">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">ballot</mat-icon>
                        Contracts</mat-list-item>
                    <mat-list-item role="navigation" [routerLink]="'/products'">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">sim_card</mat-icon>
                        Products</mat-list-item>
            </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>