        <form [formGroup]="detailedProductForm"
          (ngSubmit)="submitForm()"
          (change)="checkValidity()"
          id="main-form"
          class="row">
            <div class="column">

            <fd-modal-header>
                <h1 fd-modal-title>Detailed Options</h1>
                <button fd-modal-close-btn (click)="closeModal()"></button>
            </fd-modal-header>
            <fd-modal-body>
                <div fd-form-set class="form-element">
                    <div fd-form-item>
                        <label fd-form-label
                                for="datepicker-input">Date signed: </label>
                        <fd-date-picker formControlName="product_date_signed"
                                        [type]="'single'"
                                        [blockFunction]="myBlockFunction"
                                        [disableFunction]="myDisableFunction"
                                        id="datepicker-input"
                                        (click)="changeValueState('productDateValid')">
                        </fd-date-picker>
                        <fd-form-message [hidden]="productDateValid.hidden" [type]="productDateValid.warningType">Must enter a date</fd-form-message>
                    </div>
                </div>
            </fd-modal-body>
            <fd-modal-footer>
                <button fd-button (click)="closeModal()" [options]="'emphasized'">Close</button>
            </fd-modal-footer>
            </div>
        </form>