<fd-dialog>
    <fd-dialog-header>
        <h1 fd-dialog-title>Detailed Options</h1>
        <button fd-dialog-close-button  (click)="closeModal()"></button>
    </fd-dialog-header>
    <fd-dialog-body>
      <fd-layout-panel>
        <fd-layout-panel-body>
      <form 
      [formGroup]="detailedProductForm"
      id="main-form">
              <label fd-form-label for="datepicker-input">Date: </label>
              <fd-date-picker 
              [compact]="globalCompact"
              formControlName="product_date_signed"
              [type]="'single'"
              [disableFunction]="myBlockFunction && myDisableFunction"
              id="datepicker-input"
              [state]="detailedProductForm.get('product_date_signed').touched ? 
              (detailedProductForm.get('product_date_signed').valid ? 'success' : 'error'):
              (detailedProductForm.get('product_date_signed').valid ? '' : '')">
              </fd-date-picker>
              <fd-form-message 
              *ngIf="detailedProductForm.get('product_date_signed').invalid && detailedProductForm.get('product_date_signed').touched"
              [type]="detailedProductForm.get('product_date_signed').touched ? 
              (detailedProductForm.get('product_date_signed').valid ? 'success' : 'error'):
              (detailedProductForm.get('product_date_signed').valid ? '' : '')">
                {{'Date '+ (language=='en'?'Required':'Obligatoire')}}
              </fd-form-message>
        </form>
      </fd-layout-panel-body>
    </fd-layout-panel>
    </fd-dialog-body>
    <fd-dialog-footer>
      <fd-dialog-footer-button>
        <button 
        fd-button 
        fd-dialog-decisive-button
        (click)="closeModal()" 
        [compact]="true"
        [fdType]="'emphasized'"
        [label]="'Close'">
        </button>
      </fd-dialog-footer-button>
    </fd-dialog-footer>
</fd-dialog>

