<fd-modal-header>
    <h1 fd-modal-title>{{ editMode ? 'Edit' : 'Create'}} a Product</h1>
    <button fd-modal-close-btn
            (click)="modalRef.dismiss()"></button>
</fd-modal-header>
<fd-modal-body class="modal-body">
    <form [formGroup]="productForm"
          (ngSubmit)="submitForm()"
          id="main-form"
          class="row">
        <div class="column">
            <div fd-form-set
                 class="form-element">
                <div fd-form-item>
                    <label fd-form-label
                           for="name-input">Name: </label>
                    <input fd-form-control
                           type="text"
                           id="name-input"
                           placeholder="Enter a name"
                           formControlName="name"
                            [state]="nameValid.state"
                           (blur)="changeValueState('nameValid')">
                </div>
                <fd-form-message [hidden]="nameValid.hidden" [type]="nameValid.warningType">Required name</fd-form-message>

            </div>
            <div fd-form-set
                 class="form-element">
                <div fd-form-item>
                    <label fd-form-label
                           for="contact-input">Contact: </label>
                    <input fd-form-control
                           type="text"
                           id="contact-input"
                           placeholder="Enter a contact"
                           formControlName="contact"
                            [state]="contactValid.state"
                           (blur)="changeValueState('contactValid')">
                </div>
                <fd-form-message [hidden]="contactValid.hidden" [type]="contactValid.warningType">Required contact information</fd-form-message>

            </div>
            <div fd-form-set
                 class="form-element">
                <div fd-form-item>
                    <label fd-form-label
                           for="lob-input">Line of Business: </label>
                    <input fd-form-control
                           type="text"
                           id="lob-input"
                           placeholder="Enter a line of business"
                           formControlName="lob"
                            [state]="lobValid.state"
                           (blur)="changeValueState('lobValid')">
                </div>
                <fd-form-message [hidden]="lobValid.hidden" [type]="lobValid.warningType">Required line of business</fd-form-message>
                
            </div>
        </div>
        <div class="column">
            <div fd-form-set
                 class="form-element">
                <div fd-form-item>
                    <label fd-form-label
                           for="users-input">Number of Users: </label>
                    <input fd-form-control
                           type="number"
                           id="users-input"
                           placeholder="Enter a number"
                           formControlName="user_number"
                            [state]="user_numberValid.state"
                           (blur)="changeValueState('user_numberValid')">
                    <fd-form-message [hidden]="user_numberValid.hidden" [type]="user_numberValid.warningType">Required number of users</fd-form-message>
                           
                </div>
            </div>
            <div fd-form-set
                 class="form-element">
                <div fd-form-item>
                    <label fd-form-label
                           [for]="'status-1'">
                        Status:
                    </label>
                    <select fd-form-control
                            id="status-1"
                            formControlName="status"
                            [state]="statusValid.state"
                           (blur)="changeValueState('statusValid')"
                           >
                        <option value="completed">Completed</option>
                        <option value="in progress">In Progress</option>
                        <option value="dropped">Dropped</option>
                    </select>
                    <fd-form-message [hidden]="statusValid.hidden" [type]="statusValid.warningType">Required status</fd-form-message>

                </div>
            </div>
        </div>
    </form>
</fd-modal-body>
<fd-modal-footer>
    <button fd-button (click)="openModal()" [options]="'light'">*Detailed</button>

    <button fd-button
            fdType="main"
            type="submit"
            form="main-form"
            style="margin-left: 16px;"
            [disabled]="!productForm.dirty || productForm.invalid">{{editMode ? 'Edit' : 'Create'}}</button>
    <button fd-button
            fdType="light"
            style="margin-left: 16px;"
            (click)="this.modalRef.dismiss()">Cancel</button>
</fd-modal-footer>