<fd-dialog>
  <fd-dialog-header>
      <h1 fd-dialog-title>{{ editMode ? 'Edit' : 'Create'}} a Product</h1>
      <button fd-dialog-close-button
              (click)="dialogRef.dismiss()"></button>
  </fd-dialog-header>
  <fd-dialog-body class="modal-body">
      <form [formGroup]="productForm"
            (ngSubmit)="submitForm()"
            id="main-form">
        <div fd-form-set>
            <fd-layout-grid [col]="2" [nogap]="true">
              <fd-layout-panel>
                <fd-layout-panel-body>
                  <div fd-form-item>
                    <label fd-form-label for="name-input">{{fields[0] | titlecase}}: </label>
                    <fd-form-input-message-group>
                    <input 
                    [compact]="globalCompact"
                    fd-form-control
                    type="text"
                    id="name-input"
                    placeholder="Enter a name"
                    formControlName="name"
                    [state]="productForm.get('name').touched ? 
                    (productForm.get('name').valid ? 'success' : 'error'):
                    (productForm.get('name').valid ? '' : '')">
                    <fd-form-message *ngIf="productForm.get('name').invalid && productForm.get('name').touched"
                    [type]="productForm.get('name').touched ? 
                    (productForm.get('name').valid ? 'success' : 'error'):
                    (productForm.get('name').valid ? '' : '')">
                    Required {{fields[0]}}
                    </fd-form-message>
                    </fd-form-input-message-group>
                  </div>
                </fd-layout-panel-body>
              </fd-layout-panel>
              <fd-layout-panel>
                <fd-layout-panel-body>
                  <div fd-form-item>
                    <label fd-form-label for="contact-input">{{fields[1] | titlecase}}: </label>
                    <fd-form-input-message-group>
                      <input 
                      [compact]="globalCompact"
                      fd-form-control
                      type="text"
                      id="contact-input"
                      placeholder="Enter a contact"
                      formControlName="contact"
                        [state]="productForm.get('contact').touched ? 
                        (productForm.get('contact').valid ? 'success' : 'error'):
                        (productForm.get('contact').valid ? '' : '')">
                      <fd-form-message 
                      *ngIf="productForm.get('contact').invalid && productForm.get('contact').touched"
                      [type]="productForm.get('contact').touched ? 
                      (productForm.get('contact').valid ? 'success' : 'error'):
                      (productForm.get('contact').valid ? '' : '')">
                      Required {{fields[1]}} information
                      </fd-form-message>
                    </fd-form-input-message-group>
                  </div>
                </fd-layout-panel-body>
              </fd-layout-panel>
              <fd-layout-panel>
                <fd-layout-panel-body>
                  <div fd-form-item>
                    <label fd-form-label for="lob-input">{{fields[2] | uppercase}}: </label>
                    <fd-form-input-message-group>
                      <input 
                      [compact]="globalCompact"
                      fd-form-control
                      type="text"
                      id="lob-input"
                      placeholder="Enter a line of business"
                      formControlName="lob"
                        [state]="productForm.get('lob').touched ? 
                        (productForm.get('lob').valid ? 'success' : 'error'):
                        (productForm.get('lob').valid ? '' : '')">
                      <fd-form-message 
                      *ngIf="productForm.get('lob').invalid && productForm.get('lob').touched"
                      [type]="productForm.get('lob').touched ? 
                      (productForm.get('lob').valid ? 'success' : 'error'):
                      (productForm.get('lob').valid ? '' : '')">
                      Required {{fields[2] | uppercase}}
                    </fd-form-message>
                    </fd-form-input-message-group>
                  </div>
                </fd-layout-panel-body>
              </fd-layout-panel>
              <fd-layout-panel>
                <fd-layout-panel-body>
                  <div fd-form-item>
                    <label fd-form-label for="users-input">{{fields[3] | titlecase | snakeCase}}: </label>
                    <fd-form-input-message-group>
                      <input 
                      [compact]="globalCompact"
                      fd-form-control
                      type="number"
                      id="users-input"
                      placeholder="Enter a number"
                      formControlName="user_number"
                        [state]="productForm.get('user_number').touched ? 
                        (productForm.get('user_number').valid ? 'success' : 'error'):
                        (productForm.get('user_number').valid ? '' : '')">
                      <fd-form-message 
                      *ngIf="productForm.get('user_number').invalid && productForm.get('user_number').touched"
                      [type]="productForm.get('user_number').touched ? 
                      (productForm.get('user_number').valid ? 'success' : 'error'):
                      (productForm.get('user_number').valid ? '' : '')">
                        Required {{fields[3] | snakeCase}}
                      </fd-form-message>
                    </fd-form-input-message-group>
                  </div>
                </fd-layout-panel-body>
              </fd-layout-panel>
              <fd-layout-panel>
                <fd-layout-panel-body>
                  <div fd-form-item>
                    <label fd-form-label [for]="'status-1'"> {{fields[4] | titlecase}}: </label>
                    <fd-form-input-message-group>
                      <select 
                      [compact]="globalCompact"
                      fd-form-control
                      id="status-1"
                      formControlName="status"
                      [state]="productForm.get('status').touched ? 
                      (productForm.get('status').valid ? 'success' : 'error'):
                      (productForm.get('status').valid ? '' : '')">
                          <option value="completed">Completed</option>
                          <option value="in progress">In Progress</option>
                          <option value="dropped">Dropped</option>
                      </select>
                      <fd-form-message 
                      *ngIf="productForm.get('status').invalid && productForm.get('status').touched"
                      [type]="productForm.get('status').touched ? 
                      (productForm.get('status').valid ? 'success' : 'error'):
                      (productForm.get('status').valid ? '' : '')">
                        Required {{fields[4]}}
                      </fd-form-message>
                    </fd-form-input-message-group>
                  </div>
                </fd-layout-panel-body>
              </fd-layout-panel>
          </fd-layout-grid>
        </div>
      </form>
  </fd-dialog-body>
  <fd-dialog-footer>
    <fd-dialog-footer-button>
      <button 
      fd-button 
      [compact]="globalCompact"
      fd-dialog-decisive-button
      (click)="openModal()" 
      fdType="transparent">
        *Detailed
      </button>
    </fd-dialog-footer-button>
    <fd-dialog-footer-button>
      <button 
      fd-button
      fd-dialog-decisive-button
      fdType="main"
      style="margin-left: 16px;"
      type="submit"
      form="main-form"
      style="margin-left: 16px;"
      [disabled]="!productForm.dirty || productForm.invalid"
      [compact]="globalCompact">
      {{editMode ? 'Edit' : 'Create'}}
      </button>
    </fd-dialog-footer-button>
    <fd-dialog-footer-button>
      <button 
      fd-button
      fd-dialog-decisive-button
      fdType="transparent"
      style="margin-left: 16px;"
      (click)="this.dialogRef.dismiss()"
      [compact]="globalCompact">
        Cancel
      </button>
    </fd-dialog-footer-button>
  </fd-dialog-footer>
</fd-dialog>
