<fd-layout-panel>
  <fd-layout-panel-header>
      <fd-layout-panel-head>
          <h2>{{page.title | titlecase}}</h2>
          <fd-layout-panel-description>{{page.description}}</fd-layout-panel-description>
      </fd-layout-panel-head>
    </fd-layout-panel-header>
    <fd-layout-panel-filters *ngIf="users">
      <fd-pagination
      [totalItems]="totalUsers"
      (pageChangeStart)="newPageClicked($event)"
      [itemsPerPage]="limit"
      [currentPage]="currentPage"
      ></fd-pagination>
    </fd-layout-panel-filters>
    <fd-layout-panel-body>
      <fd-table-wrapper *ngIf="!loading">
        <table>

          <thead fd-table-header>
            <tr fd-table-row>
                <th fd-table-cell>Profile Image</th>
                <th fd-table-cell>First Name</th>
                <th fd-table-cell>Last Name</th>
                <th fd-table-cell>Email</th>
                <th fd-table-cell>Admin</th>
            </tr>
        </thead>
        <tbody fd-table-body>
            <tr *ngFor="let user of users" fd-table-row>
                <td fd-table-cell>              
                  <fd-image [size]="'m'" [photo]="user.images[0].path"></fd-image>
                </td>
                <td fd-table-cell>{{user.firstName}}></td>
                <td fd-table-cell>{{user.lastName}}></td>
                <td fd-table-cell>{{user.email}}</td>
                <td>
                  <fd-checkbox [(ngModel)]="user.admin" [disabled]="true"></fd-checkbox>
                </td>
            </tr>
        </tbody>
        <br/>
        <tfoot fd-table-footer>
            <button fd-button [fdMenu]="true" [fdMenuTrigger]="itemsPerPageMenu" style="margin-right: 20px;">Items Per Page</button>
            <fd-pagination
                [totalItems]="totalUsers"
                (pageChangeStart)="newPageClicked($event)"
                [itemsPerPage]="limit"
                [currentPage]="currentPage"
            ></fd-pagination>
        </tfoot>
      </table>
      <fd-menu #itemsPerPageMenu>
        <li fd-menu-item *ngFor="let value of itemsPerPageOptions" (click)="limitChange(value)">
            <span fd-menu-interactive>{{ value }}</span>
        </li>
      </fd-menu>
      </fd-table-wrapper>
  </fd-layout-panel-body>
</fd-layout-panel>