
<fd-side-nav [collapsed]="collapsed">
    <div fd-side-nav-list >
        <fd-side-nav-item>
            <a [routerLink]="'/dashboard'" fd-side-nav-link>
                <fd-icon [glyph]="'Chart-Tree-Map'" [size]="'l'"></fd-icon>Dashboard
            </a>
        </fd-side-nav-item>
        <fd-side-nav-item>
            <a [routerLink]="'/contracts'" fd-side-nav-link>
                <fd-icon [glyph]="'customer-order-entry'" [size]="'l'"></fd-icon>Contracts
            </a>
        </fd-side-nav-item>
        <fd-side-nav-item>
            <a [routerLink]="'/products'" fd-side-nav-link>
                <fd-icon [glyph]="'product'" [size]="'l'"></fd-icon>Products
            </a>
        </fd-side-nav-item>
    </div>
    <div class="bottom-content">
        <button fd-button fdType="light" [glyph]="collapsed ? 'navigation-right-arrow' : 'navigation-left-arrow'" (click)="changeCollapsed()"></button>
    </div>
</fd-side-nav>
    