<fd-side-nav>
    <div fd-side-nav-main>
        <ul fd-nested-list [textOnly]="false">
            <li fd-nested-list-item>
                <a fd-nested-list-link [routerLink]="'/dashboard'" >
                    <span fd-nested-list-icon [glyph]="'Chart-Tree-Map'"></span>
                    <span fd-nested-list-title>Dashboard</span>
                </a>
            </li>
            <li fd-nested-list-item>
                <a fd-nested-list-link [routerLink]="'/contracts'">
                    <span fd-nested-list-icon [glyph]="'customer-order-entry'"></span>
                    <span fd-nested-list-title>Contracts</span>
                </a>
            </li>
            <li fd-nested-list-item>
                <a fd-nested-list-link [routerLink]="'/products'">
                    <span fd-nested-list-icon [glyph]="'product'"></span>
                    <span fd-nested-list-title>Products</span>
                </a>
            </li>
        </ul>
    </div>
</fd-side-nav>