:host {
    display: inline-block;
    width: 255px;
    flex-shrink: 0;
    z-index: 2;
    background-color: var(--fd-color-background-2);
    transition: all 0.25s ease-in-out;
}

.bottom-content {
    border-top: 1px solid var(--fd-color-neutral-3);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

fd-icon {
    padding-right:10px;
}