body {
    height: 100vh;
    width: 100vw;
}

fd-alert-container {
    top: 5% !important;
}

.collapsed {
    width: auto !important;

    .custom-icon-css {
        margin-right: 0 !important;
    }
}

.fd-product-switch__list{
    list-style: none;
}

.fd-product-switch__control {
    color: var(--sapShell_TextColor, #fff)!important;
}

.fd-product-switch__control:hover{
    background-color:var(--sapShell_Hover_Background,#283848) !important;
}
