body {
    height: 100vh;
    width: 100vw;
}

fd-alert-container {
    top: 5% !important;
}

.collapsed {
    width: auto !important;

    .custom-icon-css {
        margin-right: 0 !important;
    }
}
